---
import { Icon } from "astro-icon/components";
---

<button
  class="md:hidden p-2"
  id="mobile-menu-button"
  aria-expanded="false"
  aria-controls="mobile-menu"
>
  <Icon name="heroicons:bars-3-20-solid" data-menu-icon="open" class="w-6 h-6" />
  <Icon name="heroicons:x-mark-20-solid" data-menu-icon="close" class="w-6 h-6 hidden" />
</button>
