---
import { Icon } from "astro-icon/components";
---

<div class="fixed bottom-6 right-6 z-50">
  <button
    id="back-to-top"
    class="p-3 rounded-full bg-surface border border-border/20 shadow-theme hover:shadow-lg hover:bg-accent/10 transition-all opacity-0 translate-y-10 relative"
    aria-label="Back to top"
  >
    <Icon name="heroicons:arrow-up-20-solid" class="w-6 h-6 text-text" />
    <svg
      class="absolute inset-0 w-full h-full text-accent"
      viewBox="0 0 100 100"
      id="progress-circle"
    >
      <circle
        cx="50"
        cy="50"
        r="45"
        fill="none"
        stroke="currentColor"
        stroke-width="5"
        stroke-dasharray="283"
        stroke-dashoffset="283"></circle>
    </svg>
  </button>
</div>

<script is:inline>
  const clickSound = new Audio("/click.mp3");

  const backToTopButton = document.getElementById("back-to-top");

  const progressCircle = document.getElementById("progress-circle");
  const circle = progressCircle.querySelector("circle");

  function updateProgress() {
    const scrollHeight =
      document.documentElement.scrollHeight - window.innerHeight;
    const scrollProgress = (window.scrollY / scrollHeight) * 283;
    circle.style.strokeDashoffset = 283 - scrollProgress;
  }

  function toggleBackToTop() {
    if (window.scrollY > 300) {
      backToTopButton.classList.remove("opacity-0", "translate-y-10");
      backToTopButton.classList.add("opacity-100", "translate-y-0");
    } else {
      backToTopButton.classList.remove("opacity-100", "translate-y-0");
      backToTopButton.classList.add("opacity-0", "translate-y-10");
    }
  }

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  }

  window.addEventListener("scroll", () => {
    toggleBackToTop();
    updateProgress();
  });

  backToTopButton.addEventListener("click", () => {
    clickSound.play();
    scrollToTop();
  });

  toggleBackToTop();
</script>
