---
import DesktopNav from "./navbar/DesktopNav.astro";
import MobileNav from "./navbar/MobileNav.astro";
import MobileMenuButton from "./navbar/MobileMenuButton.astro";
import avatar from "../assets/avataar.svg";

const links = [
  { name: "Projects", href: "#work" },
  { name: "Skills", href: "#skills" },
  { name: "Contact", href: "#contact" },
];
---

<div class="sticky top-0 backdrop-blur-md z-50">
  <div
    class="container mx-auto px-4 sm:px-6 lg:px-8 py-4 sm:py-6 flex justify-between items-center"
  >
    <img
      src={avatar.src}
      alt="Cesar Daniel Avatar"
      class="w-16 h-16 rounded-full"
    />

    <!-- Mobile Menu Button -->
    <MobileMenuButton />

    <!-- Desktop Navigation -->
    <DesktopNav links={links} />
  </div>

  <!-- Mobile Navigation -->
  <MobileNav links={links} />
</div>

<script>
  import { setupMobileMenu, setupThemeToggle } from "../assets/theme-toggle";
  setupMobileMenu();
  setupThemeToggle();
</script>
