---
import "@fontsource-variable/inter";
import "@fontsource/fira-code";
import interVariable from "@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url";
import "../assets/newbase.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BackToTop from "../components/BackToTop.astro";
import DynamicAvatar from "../components/DynamicAvatar.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={interVariable}
      crossorigin="anonymous"
    /> -->
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body class="min-h-screen antialiased">
    <BackToTop />
    <Header />
    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
